*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(0, 229, 255) ;
}

.main{
    width: 700px;
    height: 515px;
    /* border: 1px solid #000; */
    border-radius: 7px;
    margin: 200px 600px;
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.204);
    /* padding: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #f1f1f1;
    display: inline-block;
}

                                                          
img{
    width: 100%;
    /* height: 100%; */
    /* object-fit: cover; */
}
#share{
    position: relative;
    left: 3px;
    top: 3px;
}
#like{
    position: relative;
    top: 3px;
    left: 261px;
}

.left {
    width: 300px;
    height: 400px;
    border-radius: 10px;
    /* border: 1px solid #000; */
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.364);
    display: inline-block;
    background: #f1f1f1;
    position: relative;
    top: 10px;
    right: 50px;
}
.top-1{
    width: 300px;
    height: 350px;
    /* border: 1px solid #000; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: radial-gradient(rgb(255, 128, 139),rgb(255, 0, 34));

}
.top-1>img{
        width: 363px;
    position: relative;
    top: 36px;
    left: -83px;
}
.down-1{
    width: 300px;
    height: 50px;
    /* border: 1px solid #000; */
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    /* align-items: center;  */
}
.down-1 img{
    width: 40px;
    height: 40px;
    border: 1px solid #0000005c;
    display: flex-box;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}

/* right  */

.right{
    width: 300px;
    height: 350px;
    /* border: 1px solid #000; */
    display: inline-block;
    flex-direction: column;
    position: relative;
    bottom: -46px;
    left: -5px;
    font-family: monospace;
    background: #f1f1f1;

}
.color img{
        width: 25px;
        height: 25px;
        /* border: 1px solid black; */
        margin: 2px 2px;
        /* padding-top: 20px; */

}

.right-in ul{
    /* display: ; */
    padding-left: 19px;
    font-family: "Nunito Sans", serif;
}
.right-in p{
    color: gray;
    padding-bottom: 10px;
}
.right-in h4{
    display: inline-block;
    color: red;
    font-family: "Thasadith", serif;
}
.doll{
    font-size: 50px;
    display: inline-block;
    font-family: "Thasadith", serif;
    color: red;
    /* padding-top: 10px;
    padding-bottom: 5px; */
}
.right-in img:hover{
    /* box-shadow: 0px 5px 5px 0px black; */
    border: 1px solid black;
}
.color p{
    padding-top: 20px;
    font-family: "Nunito Sans", serif;
}
 ul{
    padding-left: -50px;
    padding-top: 10px;
}
.right-in button{
    width: 200px;
    height: 40px;
    background-color: rgb(236, 49, 39);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    box-shadow: 2px 2px 10px 0px rgb(189, 189, 189);
    font-family: "Sofia Sans Condensed", serif;
    font-optical-sizing: auto;
    margin: 20px 0 5px 0 ;
    /* margin-left: 50px; */
}
