.product-card {
  width: 300px;
  border-radius: 20px;
  padding: 12px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  margin: 20px;
  font-family: Arial, sans-serif;
}

.product-image-container {
  position: relative;
  height: 300px;
  overflow: hidden;
}
.seller-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 70px;
    padding: 7px 10px 7px 16px;
    border: 1px solid #ffffff75;
    border-radius: 20px;
    background-color: rgb(255 255 255 / 12%);
    font-size: 12px;
    font-weight: bold;
    backdrop-filter: blur(3px);
    z-index: 2;
}
.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 12px;
  font-weight: bold;
  z-index: 2;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  transition: transform 0.3s ease;
}

.product-image:hover {
  transform: scale(1.05);
  border-radius: 15px;
}

.image-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 5px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
}

.dot.active {
  background-color: white;
}

.product-info {
  padding: 15px;
}

.product-title {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.product-subtitle {
  margin: 5px 0;
  color: #666;
  font-size: 14px;
}

.product-description {
  margin: 10px 0;
  color: #666;
  font-size: 14px;
  line-height: 1.4;
}

.product-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.product-price {
  font-size: 22px;
  font-weight: bold;
  background-color: #ebebeb;
  padding: 4px 10px 4px 10px;
  border-radius: 20px;
}

.buy-button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 8px 15px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: background-color 0.3s ease;
}

.buy-button:hover {
  background-color: #333;
}

.arrow {
  font-size: 16px;
}