.light{
  font-size: 20px;
  color: black;
  background-color: rgb(183, 255, 255);
}
.dark{
  font-size: 20px;
  color: white;
  background-color: #053030;
}

.light button {
color: white;
  background-color: #053030;
}


.dark button {
 color: black;
  background-color: rgb(183, 255, 255);
}