
body{
    background-image: url(img/background.png);
    background-size: cover;
}
.main{
    width: 400px;
    height: 600px;
    text-align: center;
    margin: 110px 100px;
    background-color: #f1f1f1;
    display: inline-block;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 15px 20px 3PX #000000;
}
img{
    width: 400px;
    height: 270px;
    border-radius: 20px 20px 0px 0px;
}
.midd{
    width: 400px;
    height: 270px;
    background-color: #f1f1f1;
    text-align: center;
}
.down{
    width: 100%;
    height: 70px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 0px 0px 20px 20px;
}
/* down details */
.d-d{
    width: 130px;
    height: 40px;
    padding: 15px;
    color: white;
    object-fit: cover;
    display: inline-block;
    border-right: 1px solid rgba(108, 108, 108, 0.509); 
    font-size: 15px;
}
.d-d:last-child{
    border: none;
}
#post-1{
    background-color: #007BFF;
}
#post-2{
    background-color: #c59b04;
}
#post-3{
    background-color: #FF00D9;
}
#midd-1>h5{
    color: #007BFF;
    padding-top: 20px;
    font-weight: bold;
    font-size: 15px;
    font-family: sans-serif;

}
#midd-2>h5{
    color: #e9bb17;
    padding-top: 20px;
    font-weight: bold;
    font-size: 15px;
    font-family: sans-serif;
}
#midd-3>h5{
    color: #FF00D9;
    padding-top: 20px;
    font-weight: bold;
    font-size: 15px;
    font-family: sans-serif;
}
.midd>h1{
    padding-top: 5px;
    padding-bottom: 30px;
    font-family: monospace;
}
.midd>p{
    padding-top: 0px;
    font-size: 20px;
    margin: 10px 20px;
    color: gray;
}