.nav {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
}

.h1 {
    color: white;
    padding: 14px 16px;
    margin: 0;
}

.button {
    background-color: #444;
    color: white;
    border: none;
    padding: 14px 16px;
    cursor: pointer;
    border-radius: 4px;
}

.button:hover {
    background-color: #555;
}